---
- name: elk
  box: centos/7
  box_check_update: false
  memory: 4096
  cpus: 2
  ip: 192.168.25.140
  ports:
    - guest: 22
      host: 2240
    - guest: 80
      host: 8040
    - guest: 5601
      host: 5640
    - guest: 9200
      host: 9240
  synced_folders:
    - src: .
      dst: /vagrant
